node_modules
.next
out
.git
.gitignore
.dockerignore
Dockerfile
docker-compose*.yml
.env*.local
.vercel
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.md
!README.md
coverage
.nyc_output
.vscode
.idea
*.log